<footer>
    <div id="avc">
    <img id="aaa" src="/images/logo1-removebg-preview.png" alt="logo" /> </div>
    <ul>
      <li>Pricing</li>
      <li>Terms and condition</li>
      <li>Partnership</li>
      <li>Career</li>
      <li>Contact</li>
    </ul>
  </footer>
  <script>
    const hamburgermenu = document.getElementById("hamburgermenu");
    const mobileNavDropDown = document.querySelector(
      ".mobile__navbar__items"
    );
    window.addEventListener("click", () => {
      if (mobileNavDropDown.classList.contains("hamburger__menu__close"))
        return mobileNavDropDown.classList.remove("hamburger__menu__close");
      return mobileNavDropDown.classList.add("hamburger__menu__close");
    });
  </script>
</body>
</html>
