<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mecanico-A Step forward for help</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="navbar__brand">
          <img src="/images/logo1-removebg-preview.png" alt="logo" class="brand__logo" />
        </div>
        <div class="navbar__nav__items">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav__item" style="float: right;">
               <form action="/signup" method="GET"> <button class="button__primary hide__mobile" name="type" value="retailer">Retailer SignIn</button></form>
                <button
                  class="button__primary hamburger__menu mobile__only"
                  id="hamburgermenu"
                >
                  <div></div>
                  <div></div>
                  <div></div>
                </button>
            </li>
            <li class="nav__item" style="float: right;">
              <form action="/signup" method="GET"> <button class="button__primary hide__mobile" name="type" value="customer">Customer SignIn</button>
                 <div></div>
                 <div></div>
                 <div></div>
               </button></form>
            </li>
          </ul>
        </div>
      </nav>
      <div class="mobile__navbar__items mobile__only hamburger__menu__close">
        <ul>
          <li class="nav__item">Cars</li>
          <li class="nav__item">Shops</li>
          <li class="nav__item">Pricing</li>
          <li class="nav__item">About Us</li>
        </ul>

        <div class="nav__item">
          <button class="button__primary">Book Slot</button>
        </div>
      </div>
    </header>