<%-include('header')%>
<main class="container">
      <section class="hero__container">
        <div class="hero__image__container">
          <img src="/images/hero.jpg" alt="hero image" class="hero__image" />
          <img
            src="/images/svg/heroShape.svg"
            alt="hero image shape"
            class="hero__image__shape"
          />
          <img
            src="/images/svg/herobgpattren.svg"
            alt="hero image shape"
            class="hero__image__pattren"
          />
        </div>
        <div class="hero__description">
          <h1 class="hero__text">
            Book Mechanic from Garages near you.
          </h1>
          <button class="button__primary">Book Now</button>
        </div>
      </section>

      <section class="video__footage__container">
        <div class="video__footage">
          <iframe
            src="images/logo1-removebg-preview.png"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
            class="chef__video"
          ></iframe>
        </div>
        <div class="video__footage__text">
          <p>
            Your food will be prepared safely with an experienced chef, without
            compromising on the quality and hygiene.
          </p>
        </div>
      </section>

      <section class="food__list__container">
        <h1 class="text-xl">Explore our menu</h1>
        <div class="food__list__container__diagonal"></div>

        <div class="food__menu__card__list">
          <div class="food__menu__card">
            <img
              src="/images/burger.jpg"
              alt="burger"
              class="food__menu__card__image"
            />
            <div class="food__menu__card__details">
              <h4 class="text-lg"><strong>Burgers</strong></h4>
              <p>
                Burger King, Mcdonalds, Burger Place
                <span style="color: red">+3</span>
              </p>
            </div>
          </div>
          <div class="food__menu__card food__menu__card__move__up">
            <img
              src="/images/pizza.jpg"
              alt="pizza"
              class="food__menu__card__image"
            />
            <div class="food__menu__card__details">
              <h4 class="text-lg"><strong>Pizza</strong></h4>
              <p>
                Pizza Hut, Domino's Pizza
                <span style="color: red">+3</span>
              </p>
            </div>
          </div>
          <div class="food__menu__card">
            <img
              src="/images/iceCream.jpg"
              alt="iceCream"
              class="food__menu__card__image"
            />
            <div class="food__menu__card__details">
              <h4 class="text-lg"><strong>Ice Creams</strong></h4>
              <p>
                Baskin Robins, Ibaco
                <span style="color: red">+3</span>
              </p>
            </div>
          </div>
        </div>
        <div class="food__list__view__more">View More</div>
      </section>
      <section class="restaurant__list__container">
        <div class="restaurant__list__text">
          <h4 class="text-xl">Order From 100s of restaurants</h4>
        </div>
        <div class="restaurant__list__images__container">
          <div class="restaurant__list__row_1">
            <div>
              <img
                src="/images/restaurant1.jpg"
                alt="restaurant1"
                class="restaurant1"
              />
            </div>
            <img
              src="/images/restaurant2.jpg"
              alt="restaurant2"
              class="restaurant2"
            />
          </div>
          <div class="restaurant__list__row_2">
            <img
              src="/images/restaurant3.jpg"
              alt="restaurant3"
              class="restaurant3"
            />
            <img
              src="/images/restaurant4.jpg"
              alt="restaurant4"
              class="restaurant4"
            />
          </div>
        </div>
      </section>
      <section class="email__subcribe__container">
        <div>
          <h1 class="text-xl">Stay Updated</h1>
          <div class="email__subcribe__input__field">
            <div>
              <input
                type="email"
                placeholder="email@email.com"
                class="email__input"
              />
            </div>
            <button class="button__primary">Get Updates</button>
          </div>
        </div>
      </section>

      <section class="quote__container">
        <div class="quote_image_overlay"></div>
        <h3 class="quote_image_text">
          When a man's stomach is full it makes no difference whether he is rich
          or poor.
        </h3>
      </section>
    </main>
   <%-include('footer')%>